* {
	padding: 0;
	margin: 0;
	font-family: century gothic;
	text-align: center;
}

html {
	overflow: hidden;
}

body {
	background-image: url(../Img/background/background.jpg);
	width: 100%;
	height: 100vh;
	background-size: cover;
	color: white;
}

form {
	/* CAJA ATRÁS DE LOS INPUTS */
	padding: 50px 20px;
	background-color: #2c2c2c96;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
}

h1 {
	text-align: center;
	padding: 12px;
	color: white;
}

h6 {
	text-align: center;
	padding: 12px;
	color: white;
	line-height: 20px;
}

header {
	width: 100%;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: space-between;
	background-color: rgba(0, 0, 0, .3);
}

header h1 {
	margin-left: 5px;
	align-items: center;
	width: calc(20% - 100px);
	font-family: montez;
	font-size: 55px;
}

header a {
	margin-right: 30px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	transition: all ease 300ms;
}

.blanco {
	color: white;
	text-align: center;
	font-family: 'Monaco', Calibri, 'Trebuchet MS', sans-serif;
}

@media only screen and (min-width:760px) and (max-width:1180px) {
	form {
		/* CAJA ATRÁS DE LOS INPUTS */
		padding: 50px 20px;
		background-color: #2c2c2c96;
		margin-left: 30%;
		margin-right: 30%;
		margin-top: 70px;
		padding-top: 28px;
		margin-bottom: 30px
	}

	input {
		font-family: inherit;
		line-height: inherit;
		color: white;
		min-width: 12em;
		position: relative;
		font-size: 1.5em;
		background: linear-gradient(21deg, #10abff00, #00000000);
		padding: 6px;
		display: inline-block;
		border-radius: 9999em;
		width: calc(100% - 20px);
		padding: 9px;
		margin: auto;
		margin-top: 12px;
		font-size: 16px
	}

	body {
		background-image: url(../Img/background/background.jpg);
		width: 100%;
		height: 100vh;
		background-size: cover;
		color: white;
	}
	header h1 {
		margin-left: 5px;
		align-items: center;
		width: calc(20% - 100px);
		font-family: montez;
		font-size: 55px;
	}

	.caja {
		margin-top: 30%;
	}
	
	.btnmod {
		font-family: inherit;
		line-height: inherit;
		color: white;
		min-width: 12em;
		position: relative;
		font-size: 1.5em;
		background: linear-gradient(05deg, #b3095e, #000000);
		padding: 3px;
		display: inline-block;
		border-radius: 9999em;
	}
}

input {
    font-family: inherit;
    line-height: inherit;
    color: white;
    min-width: 12em;
    position: relative;
    font-size: 1.5em;
    background: linear-gradient(21deg, #10abff00, #00000000);
    padding: 6px;
    display: inline-block;
    border-radius: 9999em;
    width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}


.btnmod {
    font-family: inherit;
    line-height: inherit;
    color: white;
    min-width: 12em;
    position: relative;
    font-size: 1.5em;
    background: linear-gradient(05deg, #b3095e, #000000);
    padding: 3px;
    display: inline-block;
    border-radius: 9999em;
}